{
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "useTabs": false,
  "printWidth": 120,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(vue/(.*)$)|^(vue$)",
    "<THIRD_PARTY_MODULES>",
    "^components/(.*)$",
    "^@/(.*)$",
    "^[./]"
  ],
  "importOrderSortSpecifiers": true
}
